.container {
  width: 456px;
  height: 447px;
  flex-shrink: 0;
  background: #FDFDFD;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginLinks {
  width: 222px;
  height: 24px;
  flex-shrink: 0;
  border-bottom: 1px solid #168074;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.linkButton1, .linkButton2 {
  width: 58px;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}
.linkButton1 {
  color: #168074;
  font-weight: 700;
  border-bottom: 3px solid #168074;
}
.linkButton2 {
  color: #686868;
  font-weight: 400;
}
.linkButton2:hover {
  color: #168074;
  font-weight: 700;
  border-bottom: 3px solid #168074;
}
.title {
  margin-top: 60px;
  width: 282px;
  text-align: left;
  color: #3C3C3C;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signatureData {
  margin-top: 7px;
  width: calc(282px - 28px);
  height: calc(92px - 32px);
  flex-shrink: 0;
  border-radius: 5px;
  background: #F3F3F3;
  padding: 16px 14px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.companyName {
  color: #2E2E2E;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.inn {
  color: #2E2E2E;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
}
.userName {
  color: #2E2E2E;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}
.loginButton {
  margin-top: 99px;
  width: 282px;
  height: 38px;
  flex-shrink: 0;
  background: rgba(22, 128, 116, 1);
  color: #FCFCFC;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.loginButton:focus {
  outline: 3px solid rgba(34, 34, 34, 0.15);
}
.loginButton:hover {
  outline: 3px solid rgba(34, 34, 34, 0.15);
}
/* checkbox */
.loginCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}
.loginCheckbox .checkboxInput {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.loginCheckbox .checkboxLabel {
  position: relative;
  cursor: pointer;
  color: #3C3C3C;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
}
.loginCheckbox .checkboxLabel:before {
  content:'';
  --webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #168074;
  border-radius: 3px;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}
.loginCheckbox .checkboxInput:checked + .checkboxLabel:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 5px;
  height: 12px;
  border: solid #168074;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}