.container {
  width: 456px;
  height: 447px;
  flex-shrink: 0;
  background: #FDFDFD;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginLinks {
  width: 222px;
  height: 24px;
  flex-shrink: 0;
  border-bottom: 1px solid #168074;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.linkButton1, .linkButton2 {
  width: 58px;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}
.linkButton1 {
  color: #168074;
  font-weight: 700;
  border-bottom: 3px solid #168074;
}
.linkButton2 {
  color: #686868;
  font-weight: 400;
}
.linkButton2:hover {
  color: #168074;
  font-weight: 700;
  border-bottom: 3px solid #168074;
}
.messageInputWrapper {
  margin-top: 28px;
  width: 293px;
  height: calc(218px - 21px - 19px);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 0px 19px 0px;
}
.messageLabel {
  color: #3C3C3C;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.timer {
  margin-top: 11px;
  color: #4A4A4A;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pinCode {
  margin-top: 28px;
  width: 238px;
  height: 38px;
  display: flex;
  justify-content: space-between;
}
.pinCode .pinCodeInput { 
  border: none; 
  text-align: center; 
  width: 38px;
  height:38px;
  background-color: #F3F3F3;
  padding: 0;
  color: #3C3C3C;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.pinCode .pinCodeInput:focus { 
  /* border: 2px solid #573D8B; */
  outline: none;
} 
.pinCodeInput::-webkit-outer-spin-button,
.pinCodeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.repeatButtonWrapper {
  margin-top: 28px; 
  /* width: 192px; */
  width: 238px;
  height: 38px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}
.repeatButton {
  color: #3C3C3C;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}
.repeatButton:focus {
  outline: none;
}
.repeatButton:hover {
  font-weight: 700;
}
.icon2 {
  width: 43px;
  height: 38px;
}
.loginButton {
  margin-top: 28px;
  width: 282px;
  height: 38px;
  flex-shrink: 0;
  background: rgba(22, 128, 116, 1);
  background: #168074;
  color: #FCFCFC;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.loginButton:focus {
  outline: 3px solid rgba(34, 34, 34, 0.15);
}
.loginButton:hover {
  outline: 3px solid rgba(34, 34, 34, 0.15);
}
.backButton {
  margin-top: 42px;
  color: #3C3C3C;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 0;
}
.backButton:focus {
  outline: none;
}
.backButton:hover {
  font-weight: 700;
}